.bienvenida
{
    width: 1366px;
    height: 109.2px;
    opacity: 0.7;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(266deg, var(--pumpkin) 104%, #9f532a 70%, #4d3354 9%);
}