.table {
    --rft-main-color: #f3eef5;
    --rft-button-color: #9170a1;
    --rft-even-row-color: rgba(241, 243, 249, 0.49);;
  
  }

  .table th {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .table td {
    color: black;
    font-size: 16px;
    font-weight: medium;
  }

  .buttonTable 
  {
    border-radius: 5px;
    background-color: #9a66a8;
    width:6rem ;
    height: 2.5rem ;
    margin-right: 1rem;
    border-color: #9a66a8;
    align-content: center;
  }

  .buttonTableO 
  {
    border-radius: 5px;
    background-color: #ffffff;
    width:6rem ;
    height: 2.5rem ;
    color: #9a66a8;
    
    border-color: #9a66a8;
    border-width: 2px;
    align-content: center;
    
  }

  .Contenedor
  {
    width: 97vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
   
  }

  .card
  {
      width: 97vw;
      border-radius: 4px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
      background-color: var(--white);
  }

